[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyserial-asyncio = "*"
aiofiles = "*"


[dev-packages]

pytest = "*"
"pytest-flake8" = "*"
pytest-cov = "*"
pytest-mock = "*"
asynctest = "*"
"flake8" = "*"
"autopep8" = "*"
brewblox-tools = "*"
pydocstyle = "*"


[requires]

python_version = "3.7"


[scripts]

dist = "python setup.py sdist"
